fastapi
uvicorn
gunicorn
celery[redis]
redis
pymongo
httpx
loguru
pydantic
pydantic-settings
python-dotenv
streamlit

streamlit
pandas
altair
plotly
faker

aio-pika
# dev
flower
pytest
pytest-asyncio
pydantic[email]
